/* Sass Document */

$black: #000000;
$white: #ffffff;
$lightgrey: #D9D9D9;
$darkgrey: #353535;
$red: #FF0004;


/// Mixins ///



@mixin translateX($e) {
	-webkit-transform: translate($e);
	-moz-transform: translate($e);
	transform: translate($e);
}

@mixin transition($e) {
	-webkit-transition:$e;
	-moz-transition:$e;
	transition:$e;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: $black;
	font-weight:400;	
}


a{
	text-decoration: none;
	@include transition(0.3s ease-in-out);
	cursor: pointer; 
	
}

